# Auto detect text files and perform LF normalization
* text=false eol=lf
*.png binary

# Ignore some files when exporting.
/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore